{% load showpath %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paths</title>
</head>
<body>
<ul>
    {% for item in file_paths %}
    <li>
        {{item.path|as_arrow}}
    </li>
    {% endfor %}
</ul>

<hr>
<ul>
    {% for item in file_paths %}
    <li>
        {% parts_tree item.path as tree %}
        {% for element in tree %}
            {{element}}
        <br>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
<hr>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Сохранить</button>
</form>
</body>
</html>